<wrapper class="discover">
  <container>
    <spacer size="60"></spacer>
    <row>
      <columns small="12" large="12">
        <center>
          <img src="assets/illustration2.png" alt="" />
        </center>
      </columns>
    </row>
    <row>
      <columns small="12" large="12">
        <h3>Don't worry.. Be Happy</h3>
      </columns>
    </row>
    <row>
      <columns small="12" large="12">
        <p>Fusce tincidunt neque et ullamcor per posue ser trees doneca velnisi</p>
      </columns>
    </row>
    <row>
      <columns small="12" large="12">
        <center>
          <button href="#" class="rounded alert">Discover more</button>
        </center>
      </columns>
    </row>
  </container>
</wrapper>
