<wrapper class="footer">
  <container>
    <spacer size="60"></spacer>
    <row>
      <columns small="3" large="3">
        <img src="assets/footer-logo.png" alt="Noelia" />
        <menu class="vertical">
          <item href="mailto:support@website.ma">support@website.ma</item>
          <item href="">+1 555-5432-5555</item>
        </menu>
      </columns>
      <columns small="3" large="3">
        <p><strong>Follow Us</strong></p>
        <menu class="vertical">
          <item href="#">Twitter</item>
          <item href="#">Facebook</item>
          <item href="#">Google</item>
        </menu>
      </columns>
      <columns small="3" large="3">
        <p><strong>About</strong></p>
        <menu class="vertical">
          <item href="#">The company</item>
          <item href="#">Our mission</item>
          <item href="#">Contact us</item>
        </menu>
      </columns>
      <columns small="3" large="3">
        <p><a href="#">View online</a></p>
      </columns>
    </row>
    <spacer size="60"></spacer>
    <row>
      <columns small="12" large="12">
        <p class="text-center">Copyright 2016 &copy; All rights reserved | <a href="#">Unsubscribe</a></p>
      </columns>
    </row>
  </container>
</wrapper>
