<wrapper class="header">
  <container>
    <spacer size="30"></spacer>
    <!-- Top Navigation - Logo -->
    <row>
      <columns small="3" large="3">
        <a href="">
          <img src="assets/logo.png" alt="Noelia" width="63" height="19" />
        </a>
      </columns>
      <columns small="9" large="9">
        <p class="text-right">
          <a href="">
            <small>View online</small>
            <img class="inline" src="assets/arrow.png" alt=">" width="5" height="10" />
          </a>
        </p>
      </columns>
    </row>
    <spacer size="50"></spacer>
    <!-- Main Header Content -->
    <row>
      <columns small="12" large="12">
        <center>
          <img src="assets/illustration.png" alt="" width="210" height="33" />
        </center>
      </columns>
    </row>
    <row>
      <columns small="12" large="12">
        <center>
          <img class="inline" src="assets/left-deco.png" alt="" width="68" height="28" />
          <p class="inline headline text-center">Merry</p>
          <img class="inline" src="assets/right-deco.png" alt="" width="68" height="27" />
        </center>
      </columns>
    </row>
    <row>
      <columns small="12" large="12">
        <p class="text-center headline">Christmas</p>
      </columns>
    </row>
    <row>
      <columns small="12" large="12">
        <center>
          <img src="assets/divider.png" alt="" width="390" height="22" />
          <button href="#" class="rounded alert">2017</button>
        </center>
      </columns>
    </row>
  </container>
</wrapper>
