<wrapper class="how-it-works">
  <container>
    <spacer size="60"></spacer>
    <row>
      <columns small="12" large="12">
        <center>
          <img src="assets/icon.png" alt="" />
        </center>
      </columns>
    </row>
    <row>
      <columns small="12" large="12">
        <h3>How it works</h3>
        <p>Phasellus vehicula nunc ac diam lorem congue tincidunt.</p>
      </columns>
    </row>
    <row>
      <columns small="4" large="4">
        <img src="" alt="" />
        <h4>The Market</h4>
        <p>Lorem ipsum dolor et piscing elit.</p>
      </columns>
      <columns small="4" large="4">
        <img src="" alt="" />
        <h4>Free shipping</h4>
        <p>Lorem ipsum dolor et piscing elit.</p>
      </columns>
      <columns small="4" large="4">
        <img src="" alt="" />
        <h4>24/7 support</h4>
        <p>Lorem ipsum dolor et piscing elit.</p>
      </columns>
    </row>
    <hr />
    <row>
      <columns small="6" large="6">
        <h3>Get the best prices with noelia</h3>
      </columns>
      <columns small="6" large="6">
        <p>Suspendisse pharetra risus non leone pulvinar, ida vulputate a quam luctus Pellentesque sollicitudin mil at diams imperdiet placerat.</p>
        <p><a href="">Get discount ticket</a></p>
      </columns>
    </row>
  </container>
</wrapper>
