<wrapper class="offers">
  <container>
    <spacer size="60"></spacer>
    <row>
      <columns small="12" large="12">
        <center>
          <img src="assets/illustration2.png" alt="" />
        </center>
      </columns>
    </row>
    <row>
      <columns small="" large="">
        <h3>The best offers for these wonderful days</h3>
      </columns>
    </row>
    <row>
      <columns small="" large="">
        <p>Lorem ipsum dolor sit amet, consectetur sede de los lacinia justo.</p>
      </columns>
    </row>
    <row>
      <columns small="4" large="4">
        <img src="assets/img1.png" alt="" />
        <h4>Aliquam esset</h4>
        <p>Proins semper blandit</p>
        <center>
          <button href="#" class="rounded alert">-40%</button>
        </center>
      </columns>
      <columns small="4" large="4">
        <img src="assets/img2.png" alt="" />
        <h4>Aliquam esset</h4>
        <p>Proins semper blandit</p>
        <center>
          <button href="#" class="rounded alert">-40%</button>
        </center>
      </columns>
      <columns small="4" large="4">
        <img src="assets/img3.png" alt="" />
        <h4>Aliquam esset</h4>
        <p>Proins semper blandit</p>
        <center>
          <button href="#" class="rounded alert">-40%</button>
        </center>
      </columns>
    </row>
    <row>
      <columns small="4" large="4">
        <img src="assets/img4.png" alt="" />
        <h4>Aliquam esset</h4>
        <p>Proins semper blandit</p>
        <center>
          <button href="#" class="rounded alert">-40%</button>
        </center>
      </columns>
      <columns small="4" large="4">
        <img src="assets/img5.png" alt="" />
        <h4>Aliquam esset</h4>
        <p>Proins semper blandit</p>
        <center>
          <button href="#" class="rounded alert">-40%</button>
        </center>
      </columns>
      <columns small="4" large="4">
        <img src="assets/img6.png" alt="" />
        <h4>Aliquam esset</h4>
        <p>Proins semper blandit</p>
        <center>
          <button href="#" class="rounded alert">-40%</button>
        </center>
      </columns>
    </row>
  </container>
</wrapper>
