<wrapper class="testimonials">
  <container>
    <spacer size="60"></spacer>
    <row>
      <columns small="" large="">
        <center>
          <a href="#"><img src="assets/testi-icon.png" alt="" /></a>
        </center>
      </columns>
    </row>
    <row>
      <columns small="12" large="12">
        <p class="text-center">Mauris egestas nibat maximus molestie paselus non nisal erat socis natoque penatibus et magnit dis part curient nascetur ridiculus...</p>
      </columns>
    </row>
    <row>
      <columns small="12" large="12">
        <p class="text-center"><strong>Anna Willson</strong> <br /> Venice, CA</p>
      </columns>
    </row>
  </container>
</wrapper>
