<wrapper class="header" bgcolor="#2D2D47">
  <container>
    <spacer size="40"></spacer>

    <row class="collapse">
      <columns small="6" valign="middle">
        <a href=""><img src="assets/logo.png" alt="Noelia" /></a>
      </columns>
      <columns small="6" valign="middle">
        <p class="text-right">
          <a href="">
            <small>View online</small>
            <img style="display:inline-block" src="assets/arrow.png" alt=">" />
          </a>
        </p>
      </columns>
    </row>

    <spacer size="60"></spacer>

    <row>
      <columns></columns>
      <columns small="12" large="12">
        <img class="text-center" src="assets/illustration.png" alt="">
      </columns>
      <columns></columns>
    </row>
    <spacer size="10"></spacer>
    <row>
      <columns small="12" large="4" valign="bottom"><img class="float-right" src="assets/left-deco.png" alt=""></columns>
      <columns small="12" large="4">
        <h1 class="text-center">Merry</h1>
      </columns>
      <columns small="12" large="4" valign="bottom"><img src="assets/right-deco.png" alt=""></columns>
    </row>
    <row>
      <columns></columns>
      <columns small="12" large="12">
        <h1 class="text-center">Christmas</h1>
      </columns>
      <columns></columns>
    </row>
    <row>
      <columns></columns>
      <columns small="12" large="12">
        <h3>And Happy New Year</h3>
      </columns>
      <columns></columns>
    </row>
    <row>
      <columns></columns>
      <columns small="12" large="12">
        <img src="assets/divider.png" alt="">
      </columns>
      <columns></columns>
    </row>
    <row>
      <columns></columns>
      <columns small="12" large="12">
        <center>
          <button href="#" class="rounded alert">2017</button>
        </center>
      </columns>
      <columns></columns>
    </row>
    <spacer size="200"></spacer>

  </container>
</wrapper>
